<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<%- include('../partials/header'); %>

<h1>Contact Us</h1>
<P>For inquires, please reach out to us via email: mochamadafdal25@gmail.com</P>
<%- include('../partials/footer'); %>
</body>
</html>